.list-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFF;
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    width: 95%;
}

.remove-item-btn{
    padding: 5px;
    background: #FFF;
    border: none;
    color: red;
}

.remove-item-btn:hover{
    cursor: pointer;
    outline: none;
}