.board-tasks-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.task-input{
    height: 30px;
    width: 150px;
    outline: none;
}

.task-submit-btn{
    height: 40px;
    width: 65px;
}

.images-container{
    transition: all 1.5s;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
}

.image-preview-container:hover{
    cursor: pointer;
}

.select-img{
    opacity: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-img:hover{
    transition: all ease 0.3s;
    opacity: 1;
}