.board-tasks-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.task-input{
    height: 30px;
    width: 150px;
    outline: none;
}

.task-submit-btn{
    height: 40px;
    width: 65px;
}

.images-container{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    min-height: 100vh;
    width: 325px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}

.image-preview-container:hover{
    cursor: pointer;
}